#container .cont1 .slideWrap {
  width: 100%;
  height: 90vh;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context h2 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 40px;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context p {
  line-height: 30px;
  margin-bottom: 40px;
}
#container
  .cont1
  .slideWrap
  .swiper-wrapper
  .swiper-slide
  .slide-context
  .contextBtns {
  display: flex;
  text-align: center;
}
#container
  .cont1
  .slideWrap
  .swiper-wrapper
  .swiper-slide
  .slide-context
  .contextBtns
  a {
  display: block;
  height: 50px;
  color: #fff;
  line-height: 50px;
  margin-right: 5px;
}
#container
  .cont1
  .slideWrap
  .swiper-wrapper
  .swiper-slide
  .slide-context
  .contextBtns
  .moreBtn {
  width: 160px;
  border: 1px solid #fff;
  box-sizing: border-box;
  transition: all 0.5s;
}
#container
  .cont1
  .slideWrap
  .swiper-wrapper
  .swiper-slide
  .slide-context
  .contextBtns
  .moreBtn:hover {
  background-color: #0f5fa6;
}
#container .cont1 .slideWrap .swiper-wrapper .swiper-slide i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  color: #fff;
  font-size: 20px;
  -webkit-animation-name: mouseani;
  animation-name: mouseani;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes mouseani {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
@keyframes mouseani {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 30px;
  }
}
#container .cont1 .slideWrap .swiper-wrapper .s1 {
  background-image: url(/src/assets/img/slide01.jpg);
}
#container .cont1 .slideWrap .swiper-wrapper .s2 {
  background-image: url(/src/assets/img/slide02.jpg);
}
#container .cont1 .slideWrap .swiper-wrapper .s3 {
  background-image: url(/src/assets/img/slide03.jpg);
}
#container .cont1 .swiper .naviBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  z-index: 98;
  color: #d99771;
  cursor: pointer;
}
#container .cont1 .swiper .naviBtn i {
  line-height: 60px;
}
#container .cont1 .swiper .prevBtn {
  left: 50px;
}
#container .cont1 .swiper .nextBtn {
  right: 50px;
}
#container .cont2 {
  display: flex;
  background-color: #f7f6f3;
}
#container .cont2 .left-gallery {
  position: relative;
  width: 50%;
  height: 950px;
}
#container .cont2 .left-gallery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 8;
}
#container .cont2 .left-gallery img {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 950px;
  transition: all 1s;
}
#container .cont2 .left-gallery img.on {
  width: 100%;
}
#container .cont2 .left-gallery .tapmenuWrap {
  position: absolute;
  left: 60px;
  top: 80px;
  z-index: 9;
}
#container .cont2 .left-gallery .tapmenuWrap h2 {
  font-size: 70px;
  color: #fff;
  margin-bottom: 50px;
}
#container .cont2 .left-gallery .tapmenuWrap .classify li {
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.5s;
  width: 80px;
  padding-bottom: 10px;
  cursor: pointer;
}
#container .cont2 .left-gallery .tapmenuWrap .classify li.on {
  transform: scale(1.2);
  border-bottom: 2px solid #fff;
}
#container .cont2 .right-info {
  position: relative;
  width: 50%;
}
#container .cont2 .right-info .tap-info-view {
  display: none;
}
#container .cont2 .right-info .tap-info-view.on {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
  color: #0f5fa6;
}
#container .cont2 .right-info .tap-info-view.on h2 {
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 50px;
}
#container .cont2 .right-info .tap-info-view.on p {
  font-size: 20px;
  margin-bottom: 100px;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon1 {
  display: flex;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon1 li {
  width: 320px;
  background-color: #d99771;
  margin: 0 15px;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon1 li img {
  width: 100%;
}
#container .cont2 .right-info .tap-info-view.on .tap-context {
  margin-top: 50px;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  color: rgba(15, 96, 166, 0.631372549);
  border-bottom: 1px solid #0f5fa6;
}
#container .cont2 .right-info .tap-info-view.on .tap-icon2 li {
  margin-bottom: 10px;
  color: rgba(15, 96, 166, 0.6235294118);
}
#container .ai-message {
  text-align: center;
  background-color: #f7f6f3;
}
#container .ai-message h2 {
  padding: 160px 0;
  font-size: 60px;
  color: #0f5fa6;
  line-height: 80px;
}
#container .ani-bg {
  padding-bottom: 80px;
  border-bottom: 1px solid #0f5fa6;
}
#container .ani-bg img {
  width: 100%;
}
#container .ani-bg .aniWrapBox {
  display: flex;
}
#container .ani-bg .aniWrapBox .aniWrap2 {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
#container .ani-bg .aniWrapBox .aniWrap {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: #f7f6f3;
  overflow: hidden;
  width: 100%;
  height: 80px;
  -webkit-animation-name: anitextmove;
  animation-name: anitextmove;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#container .ani-bg .aniWrapBox .aniWrap .ani-text {
  width: 32.33333%;
  font-size: 34px;
  line-height: 80px;
  color: #0f5fa6;
}
#container .ani-bg .aniWrapBox .aniWrap .ani-text img {
  width: 40px;
  height: 40px;
}
@-webkit-keyframes anitextmove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes anitextmove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#container .donaition {
  display: flex;
  position: relative;
  background-color: #f7f6f3;
}
#container .donaition .left_count {
  width: 50%;
  color: #0f5fa6;
}
#container .donaition .left_count h2 {
  margin-top: 200px;
  padding-left: 20%;
  font-size: 60px;
  line-height: 75px;
}
#container .donaition .left_count > p {
  font-size: 20px;
  margin-top: 50px;
  line-height: 27px;
  margin-left: 20%;
  margin-bottom: 95px;
}
#container .donaition .left_count .box {
  margin-left: 20%;
  width: 768px;
  height: 300px;
  border: 1px solid #dfdfdf;
}
#container .donaition .left_count .box .achieve {
  margin-top: 40px;
  margin-left: 60px;
  font-size: 23px;
  margin-bottom: 38px;
}
#container .donaition .left_count .box .count {
  font-size: 100px;
  margin-left: 60px;
  font-weight: 700;
}
#container .donaition .left_count .box .price {
  font-size: 26px;
}
#container .donaition .left_count .box .dona_time {
  margin-top: 35px;
  margin-left: 60px;
}
#container .donaition .left_count .moreBtn {
  display: block;
  margin-top: 48px;
  margin-left: 20%;
  width: 190px;
  height: 60px;
  background-color: #0f5fa6;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 190px;
  line-height: 60px;
  text-align: center;
  transition: all 0.5s;
}
#container .donaition .left_count .moreBtn:hover {
  background-color: #f7f6f3;
  border: 1px solid #0f5fa6;
  color: #0f5fa6;
  box-sizing: border-box;
}
#container .donaition .right_ani {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin-top: 100px;
}
#container .donaition .right_ani .circle_wrap {
  width: 800px;
  height: 800px;
  position: absolute;
  right: -400px;
  margin: 100px auto;
}
#container .donaition .right_ani .circle_wrap .big_bg {
  position: absolute;
  left: -295px;
  top: 100px;
  width: 590px;
  height: 590px;
  border-radius: 50%;
  z-index: 8;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: bgChg2;
  animation-name: bgChg2;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-image: url(/src/assets/upload/grand.jpg);
  background-size: cover;
}
#container .donaition .right_ani .circle_wrap .small_bg {
  position: absolute;
  left: 200px;
  top: -30px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: 8;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: bgChg;
  animation-name: bgChg;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-image: url(/src/assets/upload/Paris.jpg);
  background-size: cover;
}
@-webkit-keyframes bgChg {
  0% {
    background-image: url(/src/assets/upload/Paris.jpg);
  }
  50% {
    background-image: url(/src/assets/upload/grand.jpg);
  }
  100% {
    background-image: url(/src/assets/upload/Paris.jpg);
  }
}
@keyframes bgChg {
  0% {
    background-image: url(/src/assets/upload/Paris.jpg);
  }
  50% {
    background-image: url(/src/assets/upload/grand.jpg);
  }
  100% {
    background-image: url(/src/assets/upload/Paris.jpg);
  }
}
@-webkit-keyframes bgChg2 {
  0% {
    background-image: url(/src/assets/upload/grand.jpg);
  }
  50% {
    background-image: url(/src/assets/upload/Paris.jpg);
  }
  100% {
    background-image: url(/src/assets/upload/grand.jpg);
  }
}
@keyframes bgChg2 {
  0% {
    background-image: url(/src/assets/upload/grand.jpg);
  }
  50% {
    background-image: url(/src/assets/upload/Paris.jpg);
  }
  100% {
    background-image: url(/src/assets/upload/grand.jpg);
  }
}
#container .donaition .right_ani .circle_line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #0f5fa6;
  border-radius: 50%;
}
#container .donaition .right_ani .circle_small {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: move_circle;
  animation-name: move_circle;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#container .donaition .right_ani .circle_small .circle_move {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0f5fa6;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
}
@-webkit-keyframes move_circle {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move_circle {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#container .news {
  display: flex;
  color: #0f5fa6;
  position: relative;
  background-color: #f7f6f3;
}
#container .news .sns_circle {
  position: absolute;
  left: 75px;
  bottom: -130px;
}
#container .news .sns_circle i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  z-index: 9;
  color: #0f5fa6;
  transition: all 0.5s;
}
#container .news .sns_circle:hover i {
  transform: translate(-50%, -50%) scale(1.3);
}
#container .news .sns_circle img {
  -webkit-animation-name: move_sns_logo;
  animation-name: move_sns_logo;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes move_sns_logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move_sns_logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#container .news .news_title {
  width: 40%;
  border: 1px solid #dfdfdf;
  border-left: unset;
}
#container .news .news_title h2 {
  margin-top: 55px;
  margin-left: 85px;
  font-size: 75px;
  line-height: 100px;
}
#container .news .right_info {
  width: 60%;
}
#container .news .right_info .news_list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dfdfdf;
  align-items: center;
  padding: 60px;
}
#container .news .right_info .news_list h3 {
  margin: 20px 0;
  font-size: 22px;
}
#container .news .right_info .news_list p {
  color: rgba(15, 96, 166, 0.568627451);
}
#container .news .right_info .news_list i {
  font-size: 40px;
  transition: all 0.5s;
}
#container .news .right_info .news_list:last-child {
  border-bottom: 1px solid #dfdfdf;
}
#container .news .right_info .news_list:hover i {
  transform: translateX(-50px);
}
#container .sns {
  background-color: #f7f6f3;
}
#container .sns .center {
  width: 1200px;
  padding-top: 330px;
  margin: 0 auto;
  padding-bottom: 200px;
}
#container .sns .center h2 {
  text-align: center;
  font-size: 45px;
  color: #0f5fa6;
  margin-bottom: 100px;
}
#container .sns .center h2 i {
  margin-right: 25px;
}
#container .sns .center .sns_box {
  display: flex;
  justify-content: space-between;
}
#container .sns .center .sns_box .sns_list {
  position: relative;
  width: 350px;
  height: 350px;
}
#container .sns .center .sns_box .sns_list:nth-child(3) {
  background-color: rgba(15, 96, 166, 0.0745098039);
}
#container .sns .center .sns_box .sns_list:nth-child(1) {
  position: relative;
  background-size: cover;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(/src/assets/img/sns_box1.png);
}
#container .sns .center .sns_box .sns_list:nth-child(2) {
  position: relative;
  background-size: cover;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(/src/assets/img/sns_box2.png);
}
#container .sns .center .sns_box .sns_list .uploadimg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #0f5fa6;
  line-height: 35px;
}
#container .sns .center .sns_box .sns_list .uploadimg img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#container .sns .center .gostore {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  background-color: #0f5fa6;
  color: #fff;
  margin: 100px auto 0;
  transition: all 0.5s;
}
#container .sns .center .gostore:hover {
  background-color: #f7f6f3;
  border: 1px solid #0f5fa6;
  color: #0f5fa6;
  box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
  #container .cont2 .right-info .tap-info-view.on {
    left: 30px;
  }
  #container .cont2 .right-info .tap-info-view.on .tap-icon1 {
    display: flex;
  }
  #container .cont2 .right-info .tap-info-view.on .tap-icon1 li {
    width: 250px;
  }
}
@media screen and (max-width: 1420px) {
  #container .donaition .right_ani {
    display: none;
  }
  #container .news .right_info .news_list h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  #container .cont2 {
    flex-direction: column;
  }
  #container .cont2 .left-gallery {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
  }
  #container .cont2 .left-gallery img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  #container .cont2 .left-gallery .tapmenuWrap {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  #container .cont2 .left-gallery .tapmenuWrap .classify {
    display: flex;
  }
  #container .cont2 .left-gallery .tapmenuWrap .classify li {
    margin: 0 15px;
    text-align: center;
  }
  #container .cont2 .right-info {
    position: relative;
    width: 100%;
    height: 850px;
  }
  #container .cont2 .right-info .tap-info-view.on {
    left: 50%;
    transform: translateX(-50%);
  }
  #container .cont2 .right-info .tap-info-view.on .tap-icon1 li {
    width: 200px;
  }
  #container .donaition .left_count {
    width: 100%;
  }
  #container .donaition .left_count h2 {
    padding-left: 15%;
  }
  #container .donaition .left_count p,
  #container .donaition .left_count .box,
  #container .donaition .left_count .moreBtn {
    margin-left: 15%;
  }
  #container .donaition .left_count .box {
    width: 70%;
  }
  #container .news .news_title h2 {
    margin-left: 35px;
  }
  #container .news .right_info .news_list h3 {
    font-size: 18px;
  }
  #container .news .right_info .news_list:hover i {
    transform: translateX(50px);
  }
  #container .sns {
    display: flex;
    justify-content: center;
  }
  #container .sns .center {
    width: 74%;
  }
  #container .sns .center .sns_box .sns_list {
    position: relative;
    width: 32%;
    height: 230px;
  }
  #container .sns .center .sns_box .sns_list .uploadimg {
    font-size: 18px;
  }
  #container .sns .center .sns_box .sns_list .uploadimg img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 930px) {
  #container .cont1 .slideWrap .swiper-wrapper .swiper-slide .slide-context h2 {
    font-size: 38px;
  }
  #container .donaition .left_count h2 {
    padding-left: 10%;
    font-size: 37px;
    line-height: 45px;
  }
  #container .donaition .left_count p,
  #container .donaition .left_count .box,
  #container .donaition .left_count .moreBtn {
    margin-left: 10%;
  }
  #container .news {
    flex-direction: column;
  }
  #container .news .sns_circle {
    left: unset;
    right: 20px;
    bottom: unset;
    top: 30px;
  }
  #container .news .news_title {
    width: 100%;
  }
  #container .news .news_title h2 {
    margin-top: unset;
    padding: 30px 0;
    font-size: 65px;
  }
  #container .news .right_info {
    width: 100%;
  }
  #container .sns {
    display: flex;
    justify-content: center;
  }
  #container .sns .center {
    width: 80%;
  }
  #container .sns .center .sns_box .sns_list {
    position: relative;
    width: 48%;
  }
  #container .sns .center .sns_box .sns_list:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  #container .cont2 .right-info .tap-info-view.on {
    left: 55%;
  }
  #container .donaition .left_count h2 {
    padding-left: 10%;
    font-size: 33px;
    line-height: 40px;
  }
  #container .donaition .left_count p,
  #container .donaition .left_count .box,
  #container .donaition .left_count .moreBtn {
    margin-left: 10%;
  }
  #container .donaition .left_count .box {
    width: 85%;
  }
}
