* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img,
video {
  vertical-align: middle;
}

input,
select {
  outline: none;
}

body {
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}
